<div class="page">
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="task">
    <div class="task-checker">
      <% if task.completed == true %>
      <input type="checkbox" name="task-check" <%= "id=#{task.id}" %> checked>
      <% else %>
      <input type="checkbox" name="task-check" <%= "id=#{task.id}" %>>
      <% end %>
    </div>
    <div class="task-title">
      <%= link_to "#{task.title}", show_path(task) %>
    </div>
  </div>
  <% end %>

  <hr>

  <%= link_to "Add a new task", new_path, class: "button" %>
</div>

