<div class="page">
  <ul id="tasks">
    <% @tasks.each do |task| %>
      <li>
        <% if task.completed %>
          <i class="fa fa-check"></i>
        <% else %>
          <i class="fa fa-times"></i>
        <% end %>
        <%= link_to task.title, task_path(task.id) %>
        <%= link_to task_path(task.id), method: :delete, data: { confirm: "Delete #{task.title}?" } do %>
          <i class="fa fa-trash"></i>
        <% end %>
      </li>
    <% end %>
  </ul>

  <hr>

    <%= link_to "Add a new task", new_task_path, class: "button" %>
</div>
