<div class="page">
  <h1><%= @task.title %></h1>

  <div class="information container">
    <p class="description-title">Description</p>

    <hr>

    <div class="description">
      <p><%= @task.details %></p>
    </div>

    <hr>

    <div class="click-box-container">
      <% if @task.completed %>
        <div class="task-checker task-checker-big">
          <i class="fa fa-check"></i>
        </div>
      <% else %>
        <div class="task-checker task-checker-big">
          <i class="fa fa-times"></i>
        </div>
      <% end %>
        <%= link_to edit_task_path(@task.id) do %>
          <i class="fa fa-edit task-checker fa-hover task-checker-big edit"></i>
        <% end %>
    </div>
  </div>

  <hr class="hr-bottom-container">

  <%= link_to tasks_path, class: "button" do %>
    <i class="fa fa-history"></i> Back to Tasks list
  <% end %>
</div>
