<div class="page">
  <div class="information">
    <p class="description-title">Description</p>
    <hr>
    <div class="description">
      <%= @task.details %></p>
    </div>
    <hr>
    <div class="interaction-box">
      <% if @task.completed %>
        <div class="check-box">
          <i class="fa fa-check task-visual"></i>
      <% else %>
        <div class="check-box">
          <i class="fa fa-times task-visual"></i>
      <% end %>
        <%= link_to edit_task_path(@task.id) do %>
          <i class="fa fa-edit task-visual"></i>
        <% end %>
  </div>
    <%= link_to tasks_path do %>
    <i class="fa fa-history"></i> Back to Tasks list
  <% end %>
</div>
