<div class="page">
  <h1>My Tasks</h1>
  <% @tasks.each do |task| %>
  <div class="task">
    <div class="task-checker">
      <%= task.completed %>
    </div>
    <div class="task-title">
      <%= task.title %>
    </div>
  </div>
  <% end %>
</div>
