// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import 'font-awesome';

/* ------------------------ */

$text-blue-color: #6084b3;
$back-ground-color: #F2F2F2;

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: $text-blue-color;
  font-size: 40px;
  width: 70%;
  text-align: center;
}

input {
  cursor: pointer;
}

a,.description-title {
  text-decoration: none;
  color: $text-blue-color;
  padding: 2px 0;
  font-size: 18px;
  font-weight: 600px;
}

label {
  color: $text-blue-color;
  font-size: 17px;
  padding: 4px 40px;
}

hr{
  opacity: .6;
  align: center;
  width: 60%;
}

.hr-bottom-container {
  margin-top: 25px;
  margin-bottom: 15px;
}

.button {
  margin: 10px 10px;
  padding: 8px 12px;
  color: #6084b3;
  border: 1px solid #E2E4F0;
  background-color: $back-ground-color;
  border-radius: 4px;
  font-size: 18px;
  transition: 1.4s;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
}

.button:hover {
  background-color: #D2E4F0;
  transition: 0.6s;
}

.container {
  background-color: $back-ground-color;
  padding: 30px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
}

.task {
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  .task-title {
    margin: 5px 5px;
    width: 300px;
    text-align: center;
  }
}

.trash,.task-checker,.edit {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 3px 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #E2E4F0;
  border-radius: 6px;
  background-color: #D2E4F0;
  transition: 1.4s;
  a {
    padding: 0;
  }
}

.trash:hover {
  background-color: #E8E8F8;
  transition: .6s;
}

.fa {
  color: #6084b3;
  transition: 1.2s;
}

.fa-hover:hover {
  color: #2F2F2F;
  opacity: .7;
  transition: .4s;
}

/* ---- */

.information {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.click-box-container {
  display: inline-flex;
  align-items: center;
}

.task-checker-big {
  height: 32px;
  width: 32px;
}

.description-title {
  font-size: 22px;
  margin-top: 0;
  margin-bottom: 5px;
}

/* ---- */

input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.form-group,form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
/*

h1 {
  color: $text-blue-color;
  font-size: 40px;
}

a {
  text-decoration: none;
  color: $text-blue-color;
  padding: 10px 0;
  font-size: 18px;
  font-weight: 600px;
}

label {
  color: $text-blue-color;
  font-size: 17px;
  padding: 4px 40px;
}

hr{
  opacity: .6;
  align: center;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 10px;
}

.task {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  .task-title {
    margin: 5px 5px;
  }
}


.click-box {
  text-align: center;
  margin: 3px 3px;
  height: 22px;
  width: 22px;
  background-color: transparent;
  border: 1px solid #E2E4F0;
  border-radius: 6px;
  background-color: #D2E4F0;
  transition: 1.4s;
  a {
    padding: 0;
  }
}

  .click-box:hover {
  background-color: #E8E8F8;
  transition: .6s;
  }

.fa {
  color: #6084b3;
  transition: 1.2s;
}

.fa:hover {
  color: #2F2F2F;
  opacity: .7;
  transition: .4s;
}

.form-task-create > input[type="text"] {
  width: 80em;
  padding: 22px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
}

.form-task-create > input[type="text"]:focus {
  opacity: .6;
  border: 2px solid #F8F8F8;
  transition: 0.2s;
}

*/

/* ------ */

/*
.information {
  display: flex;
  align-items: center;
  flex-direction: column;

  background-color: #F2F2F2;
  padding: 40px 20px;
  border-radius: 8px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1), 0 1px 12px 0 rgba(0, 0, 0, 0.12);
  hr {
    margin: 0 0;
    padding: 0 0;
    width: 90%;
    margin: 20px 0;
  }
}

.interaction-box {
  height: 35px;
}

.check-box {
  margin: 5px 0;
  width: 80px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  a {
    font-size: 24px;
  }
}

.description-title {
  padding: 0 50px;
  text-decoration: none;
  color: $text-blue-color;
  font-size: 18px;
  font-weight: 600px;
}

.lowest-hr-show {
  padding: 0;
}

*/
