// Place all the styles related to the Task controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.page {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

hr{
  opacity: .6;
  align: center;
  width: 60%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.task, .bag, .checker-box {
  display: inline-flex;
  align-items: center;
}

.bag {
  box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 2px;
  width: 70%;
  justify-content: center;
  padding: 40px 0;
  margin: 5px 0;
}

a {
  text-decoration: none;
  color: #6084b3;
  padding: 10px 0;
}

input[type="checkbox"] {
  height: 16px;
  width: 16px;
}

p {
  margin: 0;
}

.button {
  padding: 8px 12px;
  color: white;
  background-color: #6395e6;
  border-radius: 4px;
  font-size: 18px;
}

.button:hover {
  background-color: #416fba;
  transition: 0.3s;
}

.form-task-create {
}

.form-task-create label {
  margin-top: 12px;
  margin-bottom: 6px;
  padding: 2px 50px;
  text-align: center;
  width: 55px;
  box-shadow: 0 0 2px rgba(0,0,0,0.2);
  background-color: #F8F8F8;
  border-radius: 8px;
  font-size: 18px;
}

.form-task-create > input[type="submit"] {
  margin: 25px;
  border: none;
}

.form-task-create > input[type="text"] {
  width: 80em;
  padding: 22px 30px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 5px;
  border: 2px solid gray;
  text-align: center;
}

.form-task-create > input[type="text"]:focus {
  opacity: .6;
  border: 2px solid #F8F8F8;
  transition: 0.2s;
}
